<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huangkai.dao.Movie_genresMapper" >
  <resultMap id="BaseResultMap" type="com.huangkai.model.Movie_genres" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="genres" property="genres" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, genres
  </sql>
  
   <select id="getAllMovie_genres" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from movie_genres
  </select>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from movie_genres
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from movie_genres
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huangkai.model.Movie_genres" >
    insert into movie_genres (id, genres)
    values (#{id,jdbcType=INTEGER}, #{genres,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huangkai.model.Movie_genres" >
    insert into movie_genres
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="genres != null" >
        genres,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="genres != null" >
        #{genres,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huangkai.model.Movie_genres" >
    update movie_genres
    <set >
      <if test="genres != null" >
        genres = #{genres,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huangkai.model.Movie_genres" >
    update movie_genres
    set genres = #{genres,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>